<div class="authorization-view">
    
        <input [(ngModel)]="login" placeholder="Логин">
       
        <input [(ngModel)]="password" placeholder="Пароль" />

    <div class="example-button-row">
        <button mat-raised-button color="accent" title="Отправить запрос Get" (click)="getUser()">Авторизация</button>
    </div>
</div>
<hr />
<div>
    <span *ngIf="Islogged">
        <input matInput [(ngModel)]="user.login" placeholder="Логин">
        <input matInput [(ngModel)]="user.password" placeholder="Пароль" />
    </span>
    <span *ngIf="!Islogged">
        Сервер не ответил
    </span>
</div>
<!-- <mat-tab-group class="mat-tab-view" *ngIf="Islogged">
    <mat-tab label="Информация о пользователе" class="mat-tab-content">
        <main-user-view [user]="user"></main-user-view>
    </mat-tab>
    <mat-tab label="Сообщения" class="mat-tab-content">
        <messages [user]="user"></messages>
    </mat-tab>
    <mat-tab *ngIf="user?.isadmin == true" label="Таблица пользователей" class="mat-tab-content">
        <all-users></all-users>
    </mat-tab>
</mat-tab-group> -->